.container-edit-profile {
  margin-top: 600px;
  position: relative;
  top: 100px;
  text-align: center;
}

.mb-3-edit-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  width: 100%;
}

.mb-3-edit-profile label {
  width: 150px;
  text-align: left;
  white-space: nowrap;
  margin-bottom: 5px;
}

.mb-3-edit-profile input {
  width: 100%;
  background-color: #262626;
  color: #00cc99;
  border: 1px solid #00cc99;
  padding: 10px;
  margin-bottom: 15px;
}

.mb-3-edit-profile input.is-invalid {
  border-color: #ff4d4d;
}

.edit-control.is-valid {
  color: #00cc99;
}

.edit-control {
  background-color: #262626;
  color: #00cc99;
  border: 1px solid #00cc99;
}

.edit-card .edit-password {
  background-color: #1a1a1a;
  border: 1px solid #00cc99;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 204, 153, 0.3);
  max-width: 600px;
  margin: 20px auto;
}

.edit-content {
  color: #00cc99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-info {
  background-color: #1a1a1a;
  color: #00cc99;
  text-align: left;
  flex: 1;
  margin-right: 20px;
}

.edit-info input {
  background-color: #262626;
  color: #00cc99;
  border: 1px solid #00cc99;
  font-size: 18px;
  margin: 10px 0;
}
