h2 {
  color: #00cc99;
  text-shadow: 2px 2px 5px rgba(0, 204, 153, 0.3);
}
.container-profile {
  text-align: center;
}

#profile-card {
  background-color: #1a1a1a;
  border: 1px solid #00cc99;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 204, 153, 0.3);
  max-width: 600px;
  margin: 20px auto;
}

#profile-card input {
  background-color: #262626;
  color: #00cc99;
}

.profile-content {
  color: #00cc99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info {
  text-align: left;
  flex: 1;
  margin-right: 20px;
}

.profile-info p {
  font-size: 18px;
  color: #00cc99;
  margin: 10px 0;
}

.profile-avatar {
  text-align: center;
}

#avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #00cc99;
}

#custom-modal-content {
  background-color: #1a1a1a;
  color: #00cc99;
}

#modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
