body {
  background-color: #1a1a1a; /* Noir très doux */
  color: #00cc99; /* Vert d'eau doux */
  font-family: 'Space Mono', monospace; /* Police rétro mais moderne */
}

.navbar {
  background-color: #1a1a1a; /* Fond noir très doux */
  border-bottom: 2px solid #00cc99; /* Bordure vert d'eau */
}

.navbar-brand,
.nav-link {
  color: #00cc99 !important;
}

.navbar-toggler {
  border-color: #00cc99;
}

.container {
  margin-top: 100px;
  text-align: center;
}

.welcome-box h1 {
  font-size: 56px;
  color: #00cc99;
  text-shadow: 2px 2px 5px rgba(0, 204, 153, 0.3); /* Ombre subtile */
}

.welcome-box p {
  font-size: 20px;
  color: #00cc99;
}

button,
.btn-link {
  background-color: transparent;
  color: #00cc99 !important;
  border: 2px solid #00cc99;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover,
.btn-link:hover {
  background-color: #00cc99;
  color: #1a1a1a !important; /* Inverse texte et fond au survol */
  box-shadow: 0px 0px 10px rgba(0, 204, 153, 0.5); /* Lueur douce */
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: #00cc99;
}

h1,
h2,
h3 {
  color: #00cc99;
}

.play-button {
  margin-top: 20px;
  font-size: 22px;
}

.ready-to-transcend {
  margin-top: 40px;
  font-size: 24px;
  text-shadow: 2px 2px 8px rgba(0, 204, 153, 0.4); /* Ombre pour titre */
}
